{% for contact in contacts %}
    <tr>
        <td>{{ contact.first }}</td>
        <td>{{ contact.last }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.email }}</td>
        <td>
            <div data-overflow-menu>
                <button type="button" aria-haspopup="menu"
                    aria-controls="contact-menu-{{ contact.id }}"
                    >Options</button>
                <div role="menu" hidden id="contact-menu-{{ contact.id }}">
                    <a role="menuitem" href="/contacts/{{ contact.id }}/edit">Edit</a>
                    <a role="menuitem" href="/contacts/{{ contact.id }}">View</a>
                </div>
            </div>
        </td>
    </tr>
{% endfor %}
